@charset "UTF-8";
/* CSS Document */

@-webkit-keyframes navslide{
	
	0%{
		transform: translateX(500px);
	}
	100%{
		transform: translateX(0px);
	}
}
@-moz-keyframes navslide{
	
	0%{
		transform: translateX(500px);
	}
	100%{
		transform: translateX(0px);
	}
}
@-o-keyframes navslide{
	
	0%{
		transform: translateX(500px);
	}
	100%{
		transform: translateX(0px);
	}
}
@-ms-keyframes navslide{
	
	0%{
		transform: translateX(500px);
	}
	100%{
		transform: translateX(0px);
	}

}



@keyframes aboutslide{
	
	0%{
		transform: translateX(0px);
	}
	100%{
		transform: translateX(85px);
	}
}

@-webkit-keyframes aboutslide{
	
	0%{
		transform: translateX(0px);
	}
	100%{
		transform: translateX(85px);
	}
}
@-moz-keyframes aboutslide{
	
	0%{
		transform: translateX(0px);
	}
	100%{
		transform: translateX(85px);
	}
}
@-o-keyframes aboutslide{
	
	0%{
		transform: translateX(0px);
	}
	100%{
		transform: translateX(85px);
	}
}
@-ms-keyframes aboutslide{
	
	0%{
		transform: translateX(0px);
	}
	100%{
		transform: translateX(85px);
	}
}
@keyframes aboutslide{
	
	0%{
		transform: translateX(0px);
	}
	100%{
		transform: translateX(85px);
	}
}