@charset "UTF-8";
/* CSS Document */
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


html, body{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-family: 'Droid Serif', serif;
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
}

.grid {
	overflow: hidden;
}

img {
	width: 100%;
	overflow: hidden !important;
}

.header {
  background: url('../img/header.jpg') no-repeat center center;
  position: relative;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:500px;
  text-align:center;
  min-height:340px;
  width: 100%;
  overflow: hidden !important;
}

.logo img {
	height: 502px;
	width: 100%;
}

.unit {
	background-color: none;
	width: 100%
}

.unit-s-1{
	width:100%;	
}

.no-js #loader { 
	display: none; 
}

.js #loader {
	 display: block;
	 position: absolute;
	 left: 100px;
	 top: 0;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/ajax-loader.gif) center no-repeat #fff;
}


/* Toggle Menu -------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  display: block;
  width: 100%;
  height: 100%;
}

.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  -webkit-transition: 250ms all;
  -moz-transition: 250ms all;
  -ms-transition: 250ms all;
  -o-transition: 250ms all;
  transition: 250ms all;
}

.menu-opener {
  cursor: pointer;
  height: 64px;
  position: absolute;
  z-index: 2;
  top: 2%;
  left: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 64px;
  background: #fff;
}

.menu-opener:hover, .menu-opener.active {
  background: #fff;
  position: absolute;
}

.menu-opener-inner {
  background: #868982;
  height: .5rem;
  margin-left: .75rem;
  margin-top: 1.75rem;
  width: 2.5rem;
}

.menu-opener-inner::before, .menu-opener-inner::after {
  background: #868982;
  content: '';
  display: block;
  height: .5rem;
  width: 2.5rem;
}

.menu-opener-inner::before {
  -webkit-transform: translateY(-0.75rem);
  -ms-transform: translateY(-0.75rem);
  -moz-transform: translateY(-0.75rem);
  -o-transform: translateY(-0.75rem);
  transform: translateY(-0.75rem);
}

.menu-opener-inner::after {
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  -moz-transform: translateY(0.25rem);
  -o-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
}

.menu-opener-inner.active {
  background: transparent;
}

.menu-opener-inner.active::before {
  -webkit-transform: translateY(0rem) rotate(-45deg);
  -moz-transform: translateY(0rem) rotate(-45deg);
  -o-transform: translateY(0rem) rotate(-45deg);
  -ms-transform: translateY(0rem) rotate(-45deg);
  transform: translateY(0rem) rotate(-45deg);
}

.menu-opener-inner.active::after {
  -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -moz-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -o-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}

.menu {
  background: #fff;
  color: transparent;
  height: 64px;
  position: absolute;
  z-index: -1;
  top: 2%;
  left: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 0rem;
}

.menu.active {
  width: -webkit-calc(100% - 2rem);
  width: -moz-calc(100% - 2rem);
  width: -ms-calc(100% - 2rem);
  width: -o-calc(100% - 2rem);
  width: calc(100% - 2rem);
  position: absolute;
  z-index: 1;
}

.menu.active .menu-link {
  color: #868982;
}

.menu-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -o-flexbox;
  display: flexbox;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-box-direction: normal;
  -o-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
  margin-left: 4rem;
  padding: 0;
}

.menu-link {
  color: transparent;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -o-flexbox;
  display: flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -o-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 1.2rem;
  font-weight: 100;
  height: 100%;
  text-align: center;
  text-decoration: none;
}

.menu-link li {
  margin: auto;
  color: #868982;
}

@media screen and (max-width: 768px) {
  .menu {
    height: auto;
  }
  
  .menu-inner {
    display: block;
  }
  
  .menu-link {
    padding: 10px 0;
    font-size: 1.2em;
  }
  
  .menu.active {
    width: -webkit-calc(100% - 0.5rem);
    width: calc(100% - 0.5rem);
  }
}


/* Main menu*/



	
/* FOOTER -------------------------------------------*/

.top {
	font-size: 20px;
	margin-top:  44px;
	display: block;
	color: #fff;
	/* margin-top: -44px !important; */
	right: 400px;
	position: absolute !important;
	font-family: 'Droid Serif', serif;
}

.top:hover {
	color:#dbb7be;
}

.copyright {
	font-size: 14px;
	color: #fff;
	margin-top: 52px;
	right: 50px;
	position: absolute !important;
	font-family: 'Droid Serif', serif;
}

.contact {
	font-family: "American Captain";
	font-size: 80px;
	color: #fff;
	text-align: center;
	position: absolute;
}

.social {
  list-style:none;
  right:0;
  left: 0;
  display: block;
  text-align: center;
  position: absolute;
  background-color: #868982;
  text-decoration: none !important;
  margin-top: -1px;
  padding-top: 20px;
}

.social li {
  display:inline;
}

.social li a {
  text-decoration:none;
  padding:5px 0;
  width:100px;
  color:#fff;
  float:right;
  text-align:center;
  font-family: "Libre Baskerville", "ITC Esprit Book";
  display: inline;
  text-decoration: none !important;
}

li {
	display: inline;
	text-decoration: none;
	color: #fff;
}

.email {
background-size: 1500px;
padding: -1rem 0;
/* margin-top:-rem; */
background-attachment: fixed;
display: block;
background-image: url('../img/desk.jpg');
overflow: hidden !important;
height: 500px;
padding-left: 300px;
}

.email a {
padding: 25px 0 10px 0;
display: block;
text-decoration: none !important;
font-family: 'Droid Serif', serif;
font-size: 30px;
color: #fff;
text-align: center;
padding: 205px;
margin-right: auto;
margin-left: -300px;
}

h2 {
	display: block;
	font-size: 3em;
	text-align: center;
	margin-top: 100px;
	text-decoration: none !important;
	font-weight: bold;
	color: #868982;
}

h3 {
	display: inline;
	font-size: 2.5em;
	text-align: center;
	margin-top: 100px;
	text-decoration: none !important;
	font-weight: bold;
	padding: 30px;
	background-color: rgba(0,0,0,0.4);
}

 h3:hover {
	display: inline;
	font-size: 2.5em;
	color: #fff;
	text-align: center;
	margin-top: 100px;
	text-decoration: none !important;
	font-weight: bold;
	border-style: solid;
	border-width: medium;
	border-color: #dbb7be;
	padding: 30px;
	background-color: #dbb7be;
}

h4 {
	display: inline;
	font-size: 1.4em;
	text-decoration: none !important;
	font-weight: bold;
	color: #dbb7be;
}

.icon {
	width: 80px;
	text-decoration: none !important;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
	opacity: 1;
   filter: alpha(opacity=100);
}

.icon:hover {
	width: 80px;
	text-decoration: none !important;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
	opacity: 0.5;
   filter: alpha(opacity=30);
}

	
a {
	text-decoration: none !important;
}

.iconstext {
	font-size: 50px;
	text-align: center;
	padding-bottom: 90px;
	padding-bottom: 20px;
	font-family: 'Droid Serif', serif;
	width: 100%;
}

